.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    border-radius: 10px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .col-lg-3:hover .image {
    opacity: 0.3;
  }
  
  .col-lg-3:hover .middle {
    opacity: 1;

  }
  
  .text {
    background-color: #3699FF;
    border-radius: 10px;
    color: white;
    height:40px;
    font-size: 16px;
    padding: 10px 32px;
  }