.scrollTable{
    height: 450px;   
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: auto;  /* Hide the horizontal scroll */
  }

  .react-bootstrap-table table {
    table-layout: auto;
  }